<div class="container">
  <div id="form-paper">
    <div class="form-heading">
      <h1>Add a new RFP section</h1>
    </div>
    <div class="rating-form">
      <div class="form-horizontal">

        <%= form_tag '/rfp_sections', method: :post do %>

        <div class="form-group">
          <%=label_tag :name, nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= text_field_tag :name, nil, class: "form-control" %>
          </div>  
        </div>

        <%= submit_tag "Submit", class: "btn btn-custom" %>

        <% end %>

      </div>
    </div>
  </div>
</div>