<div class="site-container">
  <div id="form-paper">
    <div class="form-heading">
      <h1>LOI Questions</h1>
    </div>


    <div class="add-question">
    <%= link_to "Add New Question", "/questions/new", :class => "btn btn-primary btn-question", :role => "button" %>
    </div>

    <ol>
      <% @sections.each do |section| %>
        <h4><li> <%= section.name %> </li></h4>
        
        <ul>
          <% @questions.each do |question| %>
            <% if question.section_id == section.id %>
              <li><p> <%= question.question %> 
                <% if question.id != 1 %>
                  <%= link_to "Edit", "/questions/#{question.id}/edit", :class => "btn btn-custom", :role => "button" %></p>
                <% else %>
                  <button class="btn btn-danger">Question cannot be edited</button>
                <% end %> 
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </ol>
  </div>
</div>