<div class="site-container">
  <div id="form-paper">
    <div class="form-heading">
      <h1>Edit Rating</h1>
    </div>
      <%= form_tag "/rfp_ratings/#{@rating.id}", method: :patch do %>

        <%= render "form" %>
    
        <div class="btn-rating">
          <%= submit_tag 'Update Rating', class: "btn btn-custom" %>
        </div>

      </form>

    <% end %>

  </div>

</div>