<h1>Thanks you for your submission, <%= @loi.name %>!</h1>

<p>You should recieve a confirmation email at <%= @loi.email %>. </p>

<p> Have a nice day </p>

<p> <a href="http://www.socialventurepartners.org/chicago/"> SVP Chicago </a> </p>