<div class="form-group">
  <%=label_tag :question, nil, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_field_tag :question, @rfp_question.question, class: "form-control" %>
  </div>  
</div>
