<div class="container">
  <h1 class="head">LOI submissions </h1>

  <div ng-app="app">
    <div ng-controller="loisIndexCtrl" ng-init="setup()">
      <table class="table table-hover loi-table">
        <th>
          <p ng-click="sortBy('org_name')">Organization Name</p>
          <input ng-model="orgNameFilter" placeholder="filter">
        </th>
        <th>
          <p>
            Please select a question to see to compare
            <button ng-click="sortBy(loi.answers[selectedAnswer])">Sort</button>
          </p>
          <select name="singleSelect" id="singleSelect" ng-model="selectedAnswer">
            <option value="">--Select a question--</option>
            <option ng-repeat="question in questions" value="{{question.id}}">
              <ul>
                <li>
                  {{question.question}}
                </li>
              </ul>
            </option>
          </select>
        </th>
        <th>
          <p>Action</p>
        </th>
      <tr ng-repeat="loi in lois | filter: {org_name: orgNameFilter} | orderBy:sortByAttribute:descending">
        <td>
          {{loi.org_name}}
        </td>
        <td>{{loi.answers[selectedAnswer]}}
        </td>
        <td>
          <%= link_to "View", "/lois/{{loi.id}}", :class => "btn btn-default", :role => "button" %>

          <%= link_to "Rate", "/ratings/new?loi={{loi.id}}", :class => "btn btn-default", :role => "button" %>
        </td>
      </tr>
      </table>
    </div>
  </div>

</div>