<div class="container">
<div id="form-paper">
  <div ng-app="app">
    <div ng-controller="loisIndexCtrl" ng-init="setup()">
      <div class="form-heading">
        <h1>LOI Submissions </h1>
      </div>
        <div class="panel panel-default">
          <table class="table table-hover" id="loi-table">
            <th>
              <p ng-click="sortBy('org_name')">
                Organization Name
                <span ng-hide="descending" class="glyphicon glyphicon-triangle-bottom">
                </span>
                <span ng-hide="!descending" class="glyphicon glyphicon-triangle-top">
                </span>
              </p>
              <input ng-model="orgNameFilter" placeholder="filter" class="form-control">
            </th>
            <th style="width: 60%;">
              <p ng-click="sortBy(loi.answers[selectedAnswer.id])">
                Please select a question to see and compare
                <span ng-hide="descending" class="glyphicon glyphicon-triangle-bottom">
                </span>
                <span ng-hide="!descending" class="glyphicon glyphicon-triangle-top">
                </span>
              </p>
              <select class="form-control" ng-model="selectedAnswer" ng-options="question.question group by question.section for question in questions">
                <option value="">-- choose question --</option>
              </select>

            </th>
            <th>
              <p>Action</p>
            </th>
            <tr ng-repeat="loi in lois | filter: {org_name: orgNameFilter} | orderBy:sortByAttribute:descending">
              <td>
                <b>{{loi.org_name}}</b>
              </td>
              <td>
                <ul class="list-unstyled">
                  <li ng-repeat="answer in formatAnswer(loi.answers[selectedAnswer.id])">{{answer}}</li>
                </ul>
              </td>
              <td>
                <%= link_to "View", "/lois/{{loi.id}}", :class => "btn btn-default", :role => "button" %>
                <div ng-hide="rated(loi.ratings)">
                  <%= link_to "Rate", "/ratings/new?loi={{loi.id}}", :class => "btn btn-default", :role => "button" %>
                </div>
                <div ng-show="rated(loi.ratings)">
                  <%= link_to "Edit Rating", "/ratings/{{activeRatingId}}/edit", :class => "btn btn-default", :role => "button" %>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>


  <% if current_user && current_user.admin %>
    <br>
    <%= link_to "Download LOI CSV File", "/lois.csv", :class => "btn btn-default", :role => "button" %>
  <% end %>
</div>