<h1> LOI SHOW </h1>
<p> <%= @loi.name %> </p>
<p> <%= @loi.email %> </p>
<% if current_user && current_user.admin %>
  <%= link_to "Delete", "/lois/#{@loi.id}", method: :delete, data:{confirm: "Are You Sure"}, :class => "btn btn-default", :role => "button" %>
<% end %>
