<div class="container">
  <div id="form-paper">
    <div class="form-heading">
      <% if user_signed_in? %>
        <h1> LOI Submission Review </h1>
      <% else %>
        <h1> Thank you for your submission! </h1>
        <p> Please review and double check your submission, click edit to correct </p>
      <% end %>
    </div> 
      <div class="form-body">

        <div ng-app="app">

          <div ng-controller="loisCtrl" ng-init="setup()">
            <ol class="form-list">

            <!-- CONTACT SECTION -->

              <section class="section contact-section">
                <h3><li> Contact </li></h3>
                  <table class="table table-striped table-bordered">
                    <tr>
                      <td><b>Proposal Contact Name:</b></td>
                      <td>{{loi.name}}</td>
                    </tr>
                    <tr>
                      <td><b>Proposal Contact Email:</b></td>
                      <td>{{loi.email}}</td>
                    </tr>
                    <tr ng-repeat="answer in loi.contact_answers">
                      <td style="width: 20%">
                        <b>{{answer.question.question}}:</b>
                      </td>
                      <td>
                        {{answer.answer}}
                      </td>
                    </tr>
                  </table>
              </section>

            <!-- ORGANIZATION SECTION -->

              <section class="section organization-section">
                <h3><li> Organization </li></h3>
                  <table class="table table-striped table-bordered">
                    <tr ng-repeat="answer in loi.organization_answers">
                      <td style="width: 20%">
                        <b>{{answer.question.question}}:</b>
                      </td>
                      <td>
                        {{answer.answer}}
                      </td>
                    </tr>
                  </table>
              </section>

              <!-- OVERVIEW SECTION -->

              <section class="section overview-section">
                <h3><li> OVERVIEW </li></h3>
                  <table class="table table-striped table-bordered">
                    <tr ng-repeat="answer in loi.overview_answers">
                      <td style="width: 20%">
                        <b>{{answer.question.question}}:</b>
                      </td>
                      <td>
                        {{answer.answer}}
                      </td>
                    </tr>
                  </table>
              </section>

              <!-- VISION SECTION -->

              <section class="section vision-section">
                <h3><li> Vision </li></h3>
                  <table class="table table-striped table-bordered">
                    <tr ng-repeat="answer in loi.vision_answers">
                      <td style="width: 20%">
                        <b>{{answer.question.question}}:</b>
                      </td>
                      <td>
                        {{answer.answer}}
                      </td>
                    </tr>
                  </table>
              </section>

              <!-- KEY CONCERN SECTION -->

              <section class="section concern-section">
                <h3><li> Key Concerns </li></h3>
                  <table class="table table-striped table-bordered">
                    <tr ng-repeat="answer in loi.concern_answers">
                      <td style="width: 20%">
                        <b>{{answer.question.question}}:</b>
                      </td>
                      <td>
                        {{answer.answer}}
                      </td>
                    </tr>
                  </table>
              </section>

              <!-- CHALLENGE SECTION -->

              <section class="section">

                <h3><li>Organizational Capacity Challenges</li></h3>
                  <table class="table table-striped table-bordered">
                    <tr>
                      <th>Focus Area</th>
                      <th>Please provide a short description of your top 1-3 challenge(s) in each area that applies</th>
                      <th>Priority Rank each as High, Medium or Low</th>
                      <th colspan="3">
                        <table class="fte-header-table">
                          <tr>
                            <td colspan="3">Please provide the total amount of time you and your staff spend in each focus area expressd in FTEs</td>
                          </tr>
                          <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td>2015 Staffing (actual)</td>
                            <td>2016 Staffing (current)</td>
                            <td>2017 Staffing (projected)</td>
                          </tr>
                        </table>
                      </th>
                    </tr> 
                    <tr ng-repeat="answer in loi.challenge_answers">
                      <td><b>{{answer.question.question}}:</b></td>
                      <td>
                        <ol class="challenge-list">
                          <li ng-show="!answer.challenges[0].challenge==''"> {{answer.challenges[0].challenge}}</li>
                          <li ng-show="!answer.challenges[1].challenge==''"> {{answer.challenges[1].challenge}}</li>
                          <li ng-show="!answer.challenges[2].challenge==''"> {{answer.challenges[2].challenge}}</li>
                        </ol>
                      </td>
                      <td>
                        <ol class="challenge-list">
                          <li ng-show="!answer.challenges[0].priority==''">{{answer.challenges[0].priority}}</li>
                          <li ng-show="!answer.challenges[1].priority==''">{{answer.challenges[1].priority}}</li>
                          <li ng-show="!answer.challenges[2].priority==''">{{answer.challenges[2].priority}}</li>
                        </ol>
                      </td>
                      <td>{{answer.fte.amount_1}}</td>
                      <td>{{answer.fte.amount_2}}</td>
                      <td>{{answer.fte.amount_3}}</td>
                    </tr>
                    <tr>
                      <td colspan="3">TOTAL FTEs</td>
                      <td>{{fte_1}}</td>
                      <td>{{fte_2}}</td>
                      <td>{{fte_3}}</td>
                    </tr>
                  </table>
              </section>

              <!-- REFERRAL SECTION -->

              <section class="section concern-section">
                <h3><li> REFERRAL </li></h3>
                  <table class="table table-striped table-bordered">
                    <tr ng-repeat="answer in loi.referral_answers">
                      <td style="width: 20%">
                        <b>{{answer.question.question}}:</b>
                      </td>
                      <td>
                        {{answer.answer}}
                      </td>
                    </tr>
                  </table>
              </section>

              <div class="row">
            
                <!-- DEMOGRAPHIC SECTION -->

                <div class="col-md-6">
                  <section class="section demographic-section">
                    <h3><li> DEMOGRAPHICS </li></h3>
                      <table class="table table-striped table-bordered">
                        <tr>
                          <th>Sector</th>
                          <th>Please select if you programs addressing this sector</th>
                        </tr>
                        <tr ng-repeat="answer in loi.demographic_answers">
                          <td style="width: 20%">
                            <b>{{answer.question.question}}:</b>
                          </td>
                          <td>
                            {{answer.answer}}
                          </td>
                        </tr>
                      </table>
                  </section>
                </div>

                <!-- GEOGRAPHIC FOCUS SECTION -->

                <div class="col-md-6">
                  <section class="section geographic-section">
                    <h3><li> GEOGRAPHIC INFORMATION </li></h3>
                      <table class="table table-striped table-bordered">
                      
                          <tr>
                            <th>Geographic Focus</th>
                            <th>Please select whichever applies (if more than one, pick the one based on your main program)</th>
                          </tr>
                          <tr ng-repeat="answer in loi.geographic_answers">
                            <td style="width: 20%">
                              <b>{{answer.question.question}}:</b>
                            </td>
                            <td>
                              {{answer.answer}}
                            </td>
                          </tr>
                   
                      </table>
                  </section>
                </div>
              </div>

            </ol>
          </div>
        </div>

    </div>
  </div>
        <% if user_signed_in? %>
          <%= link_to "Rate", "/ratings/new?loi=#{@loi.id}", :class => "btn btn-default", :role => "button" %>
        <% end %>

        <% if current_user && current_user.admin %>
          <%= link_to "Delete", "/lois/#{@loi.id}", method: :delete, data:{confirm: "Are You Sure"}, :class => "btn btn-default", :role => "button" %>
        <% end %>
</div>