<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Thank you for your Letter of Interest (LOI). We have received LOIs from many wonderful organizations and are truly inspired by what you are doing. Unfortunately, your organization is not the best fit for this investment cycle. We plan to start a new investment cycle in the fall of 2018 and will be sure to let you know about the criteria for that cycle at the appropriate time.</p>

    <p>In the meantime, thank you for your interest in SVP Chicago. We wish you all the best in the upcoming year.</p>

  </body>
</html>