<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Thank you for your Letter of Interest. We have received Letters of Interest from many wonderful organizations and are truly inspired by what you are doing. Unfortunately, your organization did not meet the initial requirements for this investment cycle.</p>

    <p>In the meantime, thank you for your interest in SVP Chicago. We wish you all the best in the upcoming year.</p>

  </body>
</html>