<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have been invited to submit a Request for Proposal!</p>
    <p>You community support marks an exceptional endeavor that all can appreciate. So eagerly invite you to  submit a Request for Proposal (RFP).  </p>

    <p>Sincerely,</p>
    <p>SVP</p>
  </body>
</html>