<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for submitting a Letter of Intent to SVP!</p>
    <p>We commend you for your dedication to the community and look forward to reviewing your LOI submisison. </p>
    
    <p>Sincerely,</p>
    <p>SVP</p>
  </body>
</html>