<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Thanks again for your interest in SVP Chicago. We have reviewed your Letter of Interest, are inspired by what you're doing, and would like to learn more about your organization. We invite you to submit a full proposal as the next step in our investment process by November 2, 2017, at 12pm. You can access the form here: <a target='_blank' href="http://svp-chicago-2017.herokuapp.com/">SVP-Chicago login</a></p>

    <p>Please contact colleen@svpchicago.com if you have any questions. We look forward to reviewing your proposal.</p>

  </body>
</html>