<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up!</h1>
    <p>Thanks for joining SVP! Be sure to sign in and fillout an Letter of Intent (LOI) form. </p>
  </body>
</html>