<div class="site-container">
  <div id="form-paper">
    <div class="form-heading">
      <h1>Change maximum number of "Yes" answers per admin</h1>
      <h3> The number is currently <%= @max.max %> </h3>
    </div>

      <%= form_tag "/invite_maxes/#{@max.id}", method: :patch do %>

    
        <div class="btn-rating">
          <%= submit_tag 'Update Number', class: "btn btn-custom" %>
        </div>

      </form>

    <% end %>

  </div>

</div>