<h1>Add An Attachment:</h1>
<%= form_for :attachment, url: users_path, html: { multipart: true } do |form| %>
  <div>
    <%= form.file_field :file %>
  </div>
  <div>
    <%= form.submit 'Submit' %>  
    <%= link_to 'Nevermind', users_path, class: 'button' %>
  </div>    
<% end %>