  <div class="site-container">
  <div id="form-paper">
    <div ng-app="app">
      <div ng-controller="rfpsCtrl" ng-init="setup()">
        <div class="form-heading">

          <div class="well-1">
            <h1>SVP <span style="color:#0060b2">Chicago</span> - <%= Time.now.year %> New Request for Proposal</h1>
            <div class="container-fluid">

              <p><b>Completing this Form:</b></p>

              Social Venture Partners Chicago has sent this request for investment proposal (RFP) to
              a select group of nonprofit organizations in the Chicagoland area. Through this document, we hope to gather information we need to choose how to invest our money, time, and expertise to successfully address breaking the poverty cycle. <br>

              <br> We will make a three year commitment to provide the selected organization with:
              <ul>
                <li>Capacity-building support</li>
                <li>$25,000 for general operating support – renewable annually (up to three years)</li>
              </ul>

              We look forward to your submission!<br>

              <br><b>Due Date: Thursday, November 2, 2017, by 12:00 p.m.</b><br>

              <b>Using this Form:</b>
              Please enter information directly into this form. <b>You can expand the text fields if you need more space.</b>
              <ul>
                <li>Please try to limit your responses to 400 words or less for each section.</li>
                <li>If you find an item confusing, please feel free to contact us. We understand that some of our nomenclature could be unfamiliar. We also understand that you may not yet have established some capabilities or processes, and indicating that fact by inserting “Not Yet
                Established” or “To Be Determined” is completely acceptable.</li>
                <li>Whenever possible, please use bullet points rather than paragraphs. Brevity will be highly advantageous to you during our review process.</li>
              </ul>

              For questions about items in the RFP, contact <b><%= mail_to "colleen@svpchicago.org", "Colleen Scrivner", subject: "RFP Inquiry" %>,</b> SVP Chicago director of Programs & Communications, at <b><%= mail_to "colleen@svpchicago.org", "colleen@svpchicago.org", subject: "RFP Inquiry" %></b>.
            </div>
          </div>    
        </div>   
          
        <!-- DISPLAY ERRORS -->
        <div class="errors" ng-if="errors">
          <h5> These questions can not be left blank: </h5>
          <ul ng-repeat="error in errors">
            <li> {{error}} </li>
          </ul>
        </div>

        <!-- START FORM -->  
        <div class="form-body">
          <form name="rfpForm" enctype="multipart/form-data" accept-charset="UTF-8" ng-submit="submit(rfpForm.$valid)" novalidate>

            <div ng-repeat="section in sections">
              <div class="well rfp-section">
                <h1> {{section.name}} </h1>

                <div ng-repeat="question in section.questions">


              


                  <div ng-if="question.question_type === 'single input'">
                    <div class="form-group">
                      <label> {{question.question}} </label>
                      <textarea class="form-control" ng-model="question.answer"></textarea>
                      <p ng-show="wordCount(question.answer) != 'Too Long!'">
                        Word Count: {{ wordCount(question.answer) }}, Words Remaining: {{ 400 - wordCount(question.answer) }}
                      </p>
                      <p ng-show="wordCount(question.answer) === 'Too Long!'" class="error-class">
                        Max Word Count!
                      </p>  
                    </div>
                  </div>

                  <div ng-if="question.question_type ==='multiple input'">
                    <div class="form-group">
                      <label> {{question.question}} </label>
                      <div ng-repeat="answer in question.answers">
                        <input class="form-control" ng-model="answer.answer">
                      </div>
                      <p>
                        <a ng-click="addInput(question.id)">Add Input</a>
                        <a style="color:red" ng-if="question.answers.length>1" ng-click="removeInput(question.id)"> Remove Input </a>
                      </p>
                    </div>
                  </div> 
                  

                  <div ng-if="question.question_type === 'block'">
                    <div class="form-group">
                      <h3><label> {{question.question}} </label></h3>
                      <div class="well rfp-well">
                        <div ng-repeat="question in question.sub_questions">
                          <label> {{question.question}} </label>
                          <input class="form-control" ng-model="question.answer">
                        </div>
                      </div>
                    </div>
                  </div> 

                  <div ng-if="question.question_type === 'block with multiple inputs'">
                    <div class="form-group">
                      <h3><label> {{question.question}} </label></h3>
                      <div class="well rfp-well">
                        <div class="container">
                          <div class="row">
                            <div ng-repeat="sub_question in question.sub_questions">
                              <div class="col-md-4" style="width:31%">
                                <label> {{sub_question.question}} </label>
                                <div ng-repeat="answer in sub_question.answers">
                                  <input class="form-control" ng-model="answer.answer">
                                </div>
                              </div>
                            </div>
                          </div>
                          <p>
                            <a ng-click="addInput(question.id)">Add Input </a> 
                            <a style="color:red" ng-if="question.sub_questions[$index].answers.length>1" ng-click="removeInput(question.id)"> Remove Input </a>
                          </p>
                          
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              </div> 
            </div>

            <div class="well rfp-section">
              <div class="form-group">
                <h3><label> Upload Files </label></h3>
                <h6>All 5 Required Documents Must Be Uploaded Before Submitting</h6>
                <div class="well rfp-well">
                  <div>  
                    <div>
                    <div style="overflow-x:auto;">
                      <table class="fixed">
                       <tr>
                        <th style="width:20px">Determination Letter from the IRS</th>
                        <th style="width:20px">Organization Chart</th>
                        <th style="width:20px">Minutes From Two Most Recent Board Meetings</th>
                      </tr>
                      <tr>
                        <td><p style="color: red">required</p></td>
                        <td><p style="color: red">required</p></td>
                        <td><p style="color: red">required</p></td>
                      </tr>
                      <tr>
                        <td><input type="file" file-model="myFile"/></td>
                        <td><input type="file" file-model="myFile2"/></td>
                        <td><input type="file" file-model="myFile3"/></td>
                      </tr>
                    </table>
                  </div>
                  <br>
                  <br>
                  <div style="overflow-x:auto;">
                      <table class="fixed">
                      <caption style="font-weight:bold; text-align:center; color: red;"> We also need your Financial Statements as follows: </caption>
                       <tr>
                        <th>For the most recent fiscal year end: <br>1. Statement of Activities(Profit and Loss) <br> 2. Balance Sheet <br>3. Audit or Review Report of independent CPA (if applicable) <br>4. From 990</th>
                        <th>For the current fiscal year, as of the most recent month-end: <br> 1. Year-To-Date Statement of Activities (Profit and Loss) <br> 2. Balance Sheet</th>
                      </tr>
                      <tr>
                        <td><p style="color: red">required</p></td>
                        <td><p style="color: red">required</p></td>
                      </tr>
                      <tr>
                        <td><input type="file" file-model="myFile4"/></td>
                        <td><input type="file" file-model="myFile5"/></td>
                      </tr>
                  </table>
                  </div>
                  <br>
                  <br>
                   <div style="overflow-x:auto;">
                      <table class="fixed">
                      <caption style="font-weight:bold; text-align:center; color: green;"> Please also submit the following if you have: </caption>
                       <tr>
                        <th style="width:20px">Current Strategic Plan</th>
                        <th style="width:20px">Most Recent Annual Report</th>
                      </tr>
                      <tr>
                        <td><p style="color: green">optional</p></td>
                        <td><p style="color: green">optional</p></td>
                      </tr>
                      <tr>
                       <td><input type="file" file-model="myFile6"/></td>
                        <td><input type="file" file-model="myFile7"/></td>
                      </tr>
                  </table>
                  </div>


                       
                      
                       <button ng-click="uploadFile()" class="btn btn-info" style="margin-top:15px;">Upload File</button>
                    </div>      
                  </div>
                </div>
              </div>
            </div>


            <div class="submit-button-container">
              <button class="btn btn-success btn-lg" ng-click="submitForm(false)">Save and Submit Later</button>
              <button class="btn btn-primary btn-lg" ng-click="submitForm(true)">Submit</button>  
              <p style="text-align:center;"> * There may be a short delay when submitting. Please wait a moment before navaigating away from the page </p>        
            </div>  
          </form>
          <!-- END FORM -->
        </div>
      </div>
    </div>
  </div>
</div>



