.container {
  height:auto;
  width:auto;
}
.thank-you-container {
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

.inner-thank-you-container {
  max-width: 70%;
  background-color: white;
  margin: auto;
  text-align: center;
  border-radius: 25px;
  margin-top: 50px;
}

.thank-you-container img {
  padding-top: 75px;
  max-width: 40%;
  display: block;
  margin: auto;

}

.container2 {
  margin-left:30px;
}

.home {
  text-align: center;
}

.text {
  max-width: 70%;
  text-align: justify;
  margin: auto;
}
.main-points {
  margin-left:20px;
  width:90%;
}
p.main-points {
  position:relative;
  margin-right:30px;
  background-image: image-url("svp_pin.png");
  background-size: 20px;
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px; /* Adjust according to image size to push text across. */
  margin-bottom:30px;
  min-height:55px;
}
.instruction {
  margin-left:30px;
  width:95%;
}
.main-points-edit{ 
  margin-left:30px;
  height:400px;
  width:95%;
}

.last-point-edit{ 
  margin-left:30px;
  height:200px;
  width:95%;
}

.gray-section-edit{ 
  margin-left:20px;
  height:400px;
  width:95%;
}
.gray-section {
  margin-left:-10px;
}

p.gray-section {
  background-image: image-url("bluebullet.png");
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px; /* Adjust according to image size to push text across. */
  margin-bottom:30px;

}

#edit-page {
  text-align:center;
  margin-top:40px;
}