.thank-you-container {
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

.inner-thank-you-container {
  max-width: 70%;
  background-color: white;
  margin: auto;
  text-align: center;
  border-radius: 25px;
  margin-top: 50px;
}

.thank-you-container img {
  padding-top: 75px;
  max-width: 40%;
  display: block;
  margin: auto;

}

.home {
  text-align: center;
}

.text {
  max-width: 70%;
  text-align: justify;
  margin: auto;
}
.main-points {
  margin-left:20px;
}
p.main-points {
  background-image: url('svp_pin.png');
  background-size: 50px;
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 80px; /* Adjust according to image size to push text across. */
  margin-bottom:30px;
}

.gray-section {
  margin-left:-10px;
}

p.gray-section {
  background-image: url('bluebullet.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px; /* Adjust according to image size to push text across. */
  margin-bottom:30px;

}