.form-heading {
  width: 100%;
  background-color: lightgrey;
  width: 70%;
  margin: auto;
  padding: 25px;
}

.form-heading h1 {
  text-align: center;
}

.form-heading h2 {
  text-align: center;
}

.form-container{
  max-width: 100%;
  margin: auto;
}

.form-body {
  max-width: 70%;
  background-color: white;
  margin: auto;
}

.fte-header-table {
  width: 100%;
  text-align: center;
}

.submit-button-container {
  width: 100%;
}

.submit-button {
  width: 30%;
  margin: auto;
  display: block;
}

#loi-table{
  background-color: #EBF1F7;
  
}

.head{
  background-color: lightgrey;
  color: black;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 100;
  text-align: center;
}

.background{
  background-color: white;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.section {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
