.form-heading {
  width: 100%;
}

.form-heading h1 {
  text-align: center;
}

.form-heading h2 {
  text-align: center;
}

.form {
  max-width: 70%;
  margin: auto;
}

.fte-header-table {
  width: 100%;
  text-align: center;
}

.submit-button-container {
  width: 100%;
}

.submit-button {
  width: 30%;
  margin: auto;
  display: block;
}

.section-btn {
  margin: auto;
  display: inline-block;
}

