.fte-header-table {
  width: 100%;
  text-align: center;
}

.form-list li {
  padding-bottom: 15px;
}

.challenge-list li {
  padding: 0px;
}

.challenge-list {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
}
.filter{
  padding: 25px;
}
.submit-button-container {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding-bottom: 20px;
}

.btn-container{
  padding: 20px;
  text-align: right;
}

.btn-rate{
  margin: 7px;
}

.btn-invite{
  margin:7px;
}


#loi-table{
  // background-color: #EBF1F7;

}

.background{
  background-color: white;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.ng-enter, .ng-move {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.ng-leave {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.loi-rating-form .loi-rating-button {
  height: 50px;
  width: 50px;
}

.loi-rating-form td {
  text-align:left;
  font-size: 14px;
  // text-transform: uppercase;
  width:150px;
  height:100px;
  vertical-align: bottom;
  padding:10px;
}

.loi-rating-form h4 {
  text-align:left;
}

.loi-rating-form hr {
  margin-top:10px;
}

#rating-pullout {
  position: fixed !important;
  width:270px;
  background-color:#ccc;
  right: 0;
  top: 170px;
  z-index:2;
}

#rating-pullout-button {
  position: fixed;
  background-color:#6495ED;
  right: 0;
  width:120px;
  padding:10px;
  top: 100px;
  z-index:4;
}

#rating-pullout-comment-box {
  position: static;
  background-color:#ccc;
  right: 0;
  width: 120px;
  padding:10px;
  top: 100px;
  z-index:4;
  height:70px;
}

.inactive-btn {
  cursor:default;
}

.tooltip-toggle {
  cursor: pointer;
  position: relative;
  z-index: 4;
  //Tooltip text container - above element
  //You can adjust the position to make the container appear below or beside the element
  &::before {
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    content: attr(aria-label); //This pulls in the text from the element with the tooltip
    left: -80px; //This centers the container above the element
    padding: 1rem;
    position: absolute;
    text-transform: none;
    top: -80px; //This places the container above the element that needs a tooltip
    transition: all 0.5s ease;
    width: 160px;
  }

  //Tooltip arrow
  //You can adjust the position of this to align nicely with the element that
  //needs a tooltip. You can also use `transform` to rotate it to make the
  //tooltip work below or next to the element.
  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: " ";
    font-size: 0;
    left: 9px; //This centers the arrow above the element with the tooltip
    line-height: 0;
    margin-left: -5px;
    position: absolute;
    top: -12px; //This positions the arrow at the bottom of the container
    width: 0;
  }

  //Setting up the transition
  &::before,
  &::after {
    opacity: 0;
    pointer-events: none;
  }

  //Triggering the transition
  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    opacity: 1;
    transition: all 0.75s ease;
  }
}
