#users-table{
	background-color: #EBF1F7;
}

#users-head{
	background-color: lightgrey;
	color: black;
	padding: 15px;
	margin-bottom: 0;
	font-weight: 100;
	text-align: center;
}

p, h1, h2, h3, h4, h5, li {
	font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
}

table, th, td, tr{
	border: none;
}

.login{
	padding: 50px;
	// a{
	// 	color: black;
	// }
	// a:hover{
	// 	color: #0060b2;
	// 	text-decoration: none;
	// 	transition: all 0.5s;
	// }
}

.user{
	padding: 50px;
	margin: auto;
}