#users-table{
	background-color: #EBF1F7;
}

#users-head{
	background-color: lightgrey;
	color: black;
	padding: 15px;
	margin-bottom: 0;
	font-weight: 100;
	text-align: center;
}

#login{
	background-color: #d3d3d3;
	background-image: url("http://www.transparenttextures.com/patterns/classy-fabric.png");
	font-size: 20px;
	text-align: center;	
	margin-top: 5%;
	padding: 5%;
	border-radius: 5px;
	a{
		color: black;
	}
	a:hover{
		color: #0060b2;
		text-decoration: none;
		transition: all 0.5s;
	}
}

#sign-up{
	background-color: #d3d3d3;
	background-image: url("http://www.transparenttextures.com/patterns/classy-fabric.png");
	font-size: 20px;
	text-align: center;	
	margin-top: 5%;
	padding: 5%;
	border-radius: 5px;
	a{
		color: black;
		font-size: 15px;
	}
	a:hover{
		color: #0060b2;
		text-decoration: none;
		transition: all 0.5s;
	}
}

#new-password{
	background-color: #d3d3d3;
	background-image: url("http://www.transparenttextures.com/patterns/classy-fabric.png");
	border-radius: 5px;
	text-align: center;
	margin-top: 5%;
	padding: 5%;
	a{
		font-size: 18px;
		color: black;
	}
	a:hover{
		color: #0060b2;
		text-decoration: none;
		transition: all 0.5s;
	}
}