<p>Dear user, you have been invited to fill out a <a href="https://demo-svp-chicago.herokuapp.com/rfps/new">Request For Proposal</a> form.</p>
<p>To get started, log in to your account here: <a href="https://demo-svp-chicago.herokuapp.com">https://demo-svp-chicago.herokuapp.com</a> and click on the RFP form button.