<p>Dear user, you have been invited to fill out a Request For Proposal form.</p>
<p>To get started, click <a href="https://demo-svp-chicago.herokuapp.com/rfps/new">here</a> or copy and paste the text below into your browser.</p>
<p>https://demo-svp-chicago.herokuapp.com/rfps/new</p>