<p>A user from <i></i> has submitted a letter of interest.</p>
        <p>Click below to log in and review their LOI:</p>
        <p><a target='_blank' href='http://localhost:3000'>http://localhost:3000</a></p>