<p>Hello, 12, and Congratulations! You have been invited to fill out a <a href='https://qa-svp-chicago-2017.herokuapp.com/rfps/new'>Request For Proposal</a> form.</p>
<p>To get started, log in to your account here: <a href='https://qa-svp-chicago-2017.herokuapp.com'>https://qa-svp-chicago-2017.herokuapp.com</a> and click on the RFP form button.</p>