<p>SVP Chicago has received your submission!</p>
        <p>Please log in at <a target='_blank' href='http://localhost:3000'>http://localhost:3000</a> and review your submission</p>
        <p>If revisions to your letter of interest form need to be made or if you have any questions, please email Colleen at colleen@svpchicago.org</p>
        <p>Social Venture Partners - Chicago</p>