<p>SVP Chicago has received your submission!</p>
        <p>Please log in at <a target='_blank' href='http://localhost:3000'>http://localhost:3000</a> to review your submission</p>
        <p>If revisions to your letter of interest form need to be made or if you have any questions, please email Colleen at colleen@svpchicago.org</p>
        <p><img style='height:50px;' src='http://localhost:3000/assets/svp_chicago_logo-833da1556f685113cfb5c687491f5e5f5736f77994d50cfcc2f22f333f0f2dd6.jpg'></p>